* {
    font-family: "Hind", sans-serif;
}

.custom-container {
    max-width: 1200px;
    margin: auto;
}
//#2b4eff
header {
    .sticky {
        // position: fixed;
        // top: 0;
        // width: 100%
        background-color: red;
    }

    position: sticky;
    top: 0;
    background-color: #edeef3;
    z-index: 99;
    > .header-area {
        width: 91%;
        margin: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        > .row {
            > .col-md-3 {
                > .header-left {
                    > .categories {
                        border-left: 1px solid rgb(191, 191, 191);
                        padding-left: 25px;
                        padding-top: 1px;
                        line-height: 43px;
                        > img {
                            width: 20px;
                            height: 20px;
                            cursor: pointer;
                            transition: all 0.3s;
                            &:hover {
                                color: #2b4eff;
                            }
                        }
                        > span {
                            font-weight: 500;
                            padding-left: 5px;
                            cursor: pointer;
                            transition: all 0.3s;
                            &:hover {
                                color: #2b4eff;
                            }
                        }
                    }
                }
            }
            > .col-md-9 {
                > .header-right {
                    > nav {
                        background: none !important;
                        > .navbar-collapse {
                            > .navbar-nav {
                                margin-left: 150px;
                                > .nav-item {
                                    > .nav-link {
                                        color: black;
                                        transition: all 0.3s;
                                        &:hover {
                                            color: #2b4eff;
                                        }
                                        > i {
                                            font-size: 10px;
                                        }
                                    }

                                    > .home-submenu {
                                        position: absolute;
                                        left: 15%;
                                        list-style: none;
                                        margin: 0;
                                        background-color: white;
                                        width: 200px;
                                        padding: 0;
                                        transition: all 0.3s;
                                        opacity: 0;
                                        > li {
                                            border-bottom: 1px solid #edeef3;
                                            padding: 9px 20px;
                                            background: linear-gradient(to left, white 50%, #2b4eff 50%) right;
                                            background-size: 200%;
                                            transition: 0.4s ease-out;
                                            &:hover {
                                                background-position: left;
                                                > a {
                                                    color: white;
                                                }
                                            }
                                            > a {
                                                text-decoration: none;
                                                color: black;
                                            }
                                        }
                                        > li:last-of-type {
                                            border-bottom: none;
                                        }
                                    }
                                    > .active {
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                        > .search-area {
                            > i {
                                position: relative;
                                left: 34px;
                                cursor: pointer;
                            }
                            > img {
                                height: 24px;
                                width: 35px;
                                cursor: pointer;
                                position: relative;
                                right: 55px;
                                border-left: 2px solid gray;
                                padding-left: 10px;
                            }
                            > input {
                                width: 280px;
                                height: 50px;
                                border: 1px solid white;
                                border-radius: 4px;
                                padding-left: 46px;
                                padding-right: 55px;
                                outline: none;
                                transition: all 0.3s;
                                &:focus {
                                    border-color: #2b4eff !important;
                                }
                            }
                            > sup {
                                border-radius: 50%;
                                font-size: 15px;
                                background-color: #2b4eff;
                                padding: 0px 8px;
                                color: white;
                                position: relative;
                                right: 70px;
                                top: -11px;
                                transition: all 0.3s;
                                cursor: pointer;
                                &:hover {
                                    background-color: black;
                                }
                            }
                        }
                        > a {
                            text-decoration: none;
                            color: white;
                            background-color: blue;
                            border-radius: 4px;
                            padding: 13px 28px;
                            transition: all 0.3s;
                            &:hover {
                                box-shadow:
                                    rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
                                    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
                            }
                        }
                    }
                }
            }
        }
    }
}

#banner {
    padding-top: 10rem;
    // max-height: 800px;
    // height: 1500px;
    background-color: #edeef3;
    > img:first-of-type {
        position: absolute;
        top: 25%;
        left: 7%;
    }

    > img:nth-of-type(2) {
        position: absolute;
        bottom: 5%;
    }

    > img:nth-of-type(3) {
        position: absolute;
        right: 17%;
        bottom: 50%;
    }

    > img:nth-of-type(4) {
        max-width: 200px;
        max-height: 240px;
        border-radius: 4px 40px;
        margin-top: 50px;
        position: absolute;
        right: 120px;
        z-index: 1;
    }

    > img:nth-of-type(5) {
        position: absolute;
        right: 0px;
        bottom: 10rem;
    }

    > .custom-container {
        > .row {
            > .col-md-6:first-child {
                > .banner-left {
                    > span {
                        font-size: 60px;
                    }
                    > h1 {
                        font-size: 60px;
                        font-weight: 700;
                        position: relative;
                        z-index: 1;
                        line-height: 1;
                        > span {
                            > img {
                                width: 193px;
                                margin-left: -205px;
                                margin-right: 41px;
                                position: relative;
                                z-index: -1;
                                margin-top: 32px;
                            }
                        }
                    }

                    > p {
                        font-size: 22px;
                        margin-bottom: 3rem;
                    }

                    > a {
                        text-decoration: none;
                        color: white;
                        background-color: blue;
                        border-radius: 4px;
                        padding: 13px 28px;
                        transition: all 0.3s;
                        &:hover {
                            box-shadow:
                                rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
                                rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
                        }
                    }
                }
            }
            > .col-md-6:last-child {
                > .banner-right {
                    height: 630px;
                    > img:first-child {
                        max-width: 400px;
                        max-height: 460px;
                        border-radius: 40px 4px;
                        position: relative;
                        z-index: 1;
                    }
                    > img:nth-of-type(2) {
                        position: relative;
                        right: 27rem;
                        top: 8rem;
                    }
                    > img:nth-of-type(3) {
                        position: relative;
                        bottom: 18rem;
                        left: 16rem;
                    }
                    > .slogan {
                        padding: 15px 25px 20px;
                        background: #ffffff;
                        border-radius: 4px;
                        width: 260px;
                        height: 78px;
                        position: absolute;
                        z-index: 2;
                        bottom: 5rem;
                        right: 15%;
                        > p {
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
}

#popular-courses {
    padding-bottom: 9rem;
    > .custom-container {
        h2 {
            font-size: 40px;
            font-weight: 700;
            width: 40%;
            > img {
                width: 149px;
                height: 16px;
                position: relative;
                left: 65px;
                bottom: 32px;
                z-index: -1;
            }
        }
        .more-categories {
            a {
                text-decoration: none;
                color: #6d6e75;
                transition: all 0.3s;
                &:hover {
                    color: #2b4eff;
                }
            }
        }

        .course {
            padding: 15px 40px;
            border-radius: 6px;
            border: 2px solid #eef0f6;
            transition: all 0.5s;
            > img {
                width: 40px;
                height: 40px;
            }
            > .course-name {
                margin-left: 35px;
                > a {
                    text-decoration: none;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 1;
                    color: black;
                }
            }
            &:hover {
                background-color: #2b4eff;
                border-color: #2b4eff;
                box-shadow:
                    rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
                    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
                > .course-name {
                    > a,
                    span {
                        color: white;
                    }
                }
            }
        }

        .online-course {
            height: 264px;
            padding: 50px 40px;
            border-radius: 4px;
            > .course-name {
                > span {
                    background-color: rgb(252, 67, 137);
                    padding: 0px 14px;
                    color: white;
                    border-radius: 10px;
                    font-size: 14px;
                    display: inline-block;
                }
                > a:first-of-type {
                    display: block;
                    text-decoration: none;
                    color: black;
                    font-size: 26px;
                    font-weight: 700;
                    transition: all 0.3s;
                    &:hover {
                        color: #2b4eff;
                    }
                }

                > a:last-of-type {
                    display: inline-block;
                    font-size: 14px;
                    font-weight: 500;
                    text-decoration: none;
                    color: white;
                    background-color: blue;
                    border-radius: 4px;
                    padding: 6px 24px;
                    transition: all 0.3s;
                    &:hover {
                        box-shadow:
                            rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
                            rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
                    }
                }
            }
        }

        .online-course-1 {
            background-image: url("../images/banner-bg-1.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }

        .online-course-2 {
            background-image: url("../images/banner-bg-2.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}

#all-courses {
    background-color: #eef0f6;
    padding: 7rem 0rem;
    .course-slogan {
        > h2 {
            position: relative;
            font-size: 40px;
            font-weight: 700;
            z-index: 1;
        }
        > img {
            width: 149px;
            height: 16px;
            position: relative;
            left: 110px;
            bottom: 30px;
        }
        > p {
            font-size: 16px;
            color: #53545b;
            font-weight: 400;
        }
    }

    .tab-headers {
        > ul {
            list-style: none;
            display: flex;
            margin: 0;
            padding: 0;
            > li {
                cursor: pointer;
                transition: all 0.3s;
                font-size: 17px;
                font-weight: 500;
                margin-right: 40px;
                &:hover {
                    color: #2b4eff;
                }
            }
        }
        .active-tab {
            color: #2b4eff;
        }
    }

    .cart {
        border-radius: 6px;
        background-color: white;
        > .thumbnail {
            position: relative;
            overflow: hidden;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
            > a:first-child {
                > img {
                    width: 100%;
                    height: 246px;
                    transition: all 0.3s;
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }

            > a:last-child {
                display: inline-block;
                position: absolute;
                bottom: 12.5rem;
                left: 20px;
                height: 24px;
                line-height: 24px;
                font-size: 14px;
                font-weight: 500;
                color: #fff;
                background: #b128ff;
                padding: 0 10px;
                border-radius: 4px;
                text-decoration: none;
            }
        }
        > .course-content {
            padding: 25px 30px;
            > .short-info {
                > .lesson-count {
                    display: flex;
                    align-items: center;
                    > i {
                        display: inline-block;
                        height: 20px;
                        margin-right: 10px;
                        color: #6d6e75;
                    }
                    > span {
                        font-size: 16px;
                        color: #6d6e75;
                    }
                }
                > .lesson-rating {
                    > span {
                        color: #6d6e75;
                    }
                }
            }
            > a {
                font-size: 20px;
                font-weight: 600;
                text-decoration: none;
                color: black;
                transition: all 0.3s;
                &:hover {
                    color: #2b4eff;
                }
            }
            > .teacher-name {
                > img {
                    border-radius: 50%;
                    margin-right: 15px;
                }
                > a {
                    font-size: 16px;
                    font-weight: 500;
                    text-decoration: none;
                    color: #6d6e75;
                    transition: all 0.3s;
                    &:hover {
                        color: #2b4eff;
                    }
                }
            }
        }
        > .course-more {
            padding: 15px 30px 10px;
            border-top: 1px solid #f0f0f5;
            > .price {
                > .new-price {
                    font-size: 20px;
                    color: #b128ff;
                    font-weight: 600;
                    padding-right: 5px;
                }
                > .old-price {
                    font-size: 16px;
                    color: #6d6e75;
                    text-decoration: line-through;
                    font-weight: 700;
                }
            }
            > a {
                font-weight: 500;
                display: inline-block;
                text-decoration: none;
                color: black;
                transition: all 0.3s;
                &:hover {
                    color: #2b4eff;
                }
            }
        }
    }
    .cart-2 {
        > .thumbnail {
            > a:last-child {
                background-color: #0fa0dd;
            }
        }
        > .course-more {
            > .price {
                > .new-price {
                    color: #0fa0dd;
                }
            }
        }
    }

    .cart-3 {
        > .thumbnail {
            > a:last-child {
                background-color: #30a820;
            }
        }
        > .course-more {
            > .price {
                > .new-price {
                    color: #30a820;
                }
            }
        }
    }

    .cart-4 {
        > .thumbnail {
            > a:last-child {
                background-color: #3b60ff;
            }
        }
        > .course-more {
            > .price {
                > .new-price {
                    color: #3b60ff;
                }
            }
        }
    }

    .cart-5 {
        > .thumbnail {
            > a:last-child {
                background-color: #fa7919;
            }
        }
        > .course-more {
            > .price {
                > .new-price {
                    color: #fa7919;
                }
            }
        }
    }

    .cart-6 {
        > .thumbnail {
            > a:last-child {
                background-color: #f2277e;
            }
        }
        > .course-more {
            > .price {
                > .new-price {
                    color: #f2277e;
                }
            }
        }
    }
}

@media only screen and (max-width: 575px) {
    .header-area .header-left .categories {
        display: none;
    }

    .header-area .header-right .search-area {
        display: none;
    }

    #banner img:nth-of-type(4) {
        display: none;
    }

    #banner .banner-left span:first-child {
        font-size: 25px !important;
    }

    #popular-courses .section-head {
        display: block !important;
    }

    #popular-courses .online-course img {
        display: none;
    }

    #all-courses .tab-headers ul {
        display: block;
    }
}

// img{
//     width: 20px;
// }
